.inputchat {
    flex: 2;
    margin-top: 0px;
}

.btn_color {
    background: #009688;
}

.sidebar_color {
    background: #212a3f;
}

.sidebar_border_color {
    border-left: solid 2px #2c3e50;
}

.body_color {
    background: #2c3e50;
}

.prompt_color {
    background: #212121;
}

.prompt_text_color {
    color: white;
}

.notice_color {
    color: white;
}

.notice_back_color {
    background-color: #212a3f;
}

#sidebar-content label {
    color: white;
}

.textinput_color {
    color: #191919;
    background: #191919;
}



/* */

.weui-icon-checked.checkbox_color {
    color: hsla(0, 0%, 100%, .3);
    ;
}